<div class="p-contact l-inner__sp">
    <div class="p-contact__breadcrumb l-breadcrumb">
        <%- include('../component/_c-breadcrumb',{level1:'トップページ',level2:'お問い合わせ',level3:''}) %>
    </div>
    <div class="p-contact__inner l-contact__pc">
        <div class="p-contact__top-left">
            <div class="p-contact__text-block1">
                <%- include('../component/_c-contact-text',{text:'サイト制作依頼や CodeUps のサービスについてお聞きしたいことがざいましたらお気軽にお問い合わせください。お問い合わせ頂いてから約3営業日以内に回答させていただきます。'}) %>
            </div>
            <div class="p-contact__form">
                <%- include('../project/_p-contact-form') %>
            </div>
        </div>
        <div class="p-contact__bottom-right">
            <div class="p-contact__text-block2">
                <%- include('../component/_c-contact-text',{text:'Code Ups のサービスにつきましては LINE から受け付ておりますのでLINE にご登録の上お問い合わせください。'}) %>
            </div>
            <div class="p-contact__logo">
                <%- include('../component/_c-logo-blue',{link:'#'}) %>
            </div>
            <div class="p-contact__btn">
                <%- include('../component/_c-btn-sub',{link:'#',text:'LINEから申し込み'}) %>
            </div>
        </div>
    </div>
</div>