<div class="p-greeting">
    <div class="p-greeting__title">
        <%- include('../component/_c-title',{title:'代表挨拶',subtitle:'greeting'}) %>
    </div>
    <div class="p-greeting__inner">
        <div class="p-greeting__subtitle-wrap">
            <h3 class="p-greeting__subtitle"><%= subtitle %></h3>
        </div>
        <div class="p-greeting__text-wrapper">
            <p class="p-greeting__text"><%= text1 %></p>
            <p class="p-greeting__text"><%= text2 %></p>
            <p class="p-greeting__text"><%= text3 %></p>
            <div class="p-greeting__block">
                <p class="p-greeting__post"><%= boss %></p>
                <p class="p-greeting__name"><%= name %></p>
            </div>
        </div>
    </div>
</div>