<div class="p-works">
  <section class="p-works__title">
    <%- include('../component/_c-title',{title:'制作実績',subtitle:'achievements'}) %>
  </section>
  <div class="p-works__block">
    <%- include('../component/_c-works-images',{path:'p-work-pc1.jpg',title:'Comodo',text:'more detail'}) %>
    <%- include('../component/_c-works-images',{path:'p-work-pc2.jpg',title:'Comodo',text:'more detail'}) %>
    <%- include('../component/_c-works-images',{path:'p-work-pc1.jpg',title:'Comodo',text:'more detail'}) %>
  </div>
  <div class="p-works__btn">
    <%- include('../component/_c-btn',{link:'works-archive.html',text:'more'}) %>
  </div>
</div>