<div class="p-works l-inner l-inner--works">
  <section class="p-works__title">
    <%- include('../component/_c-title',{title:'制作実績',subtitle:'achievements'}) %>
  </section>
  <div class="p-works__block">
    <%- include('../component/_c-img-mask',{link:'works-single.html',path:'./images/common/p-work-pc1.jpg',alt:"制作実績イメージ1",title:'Comodo',text:'more detail'}) %>
    <%- include('../component/_c-img-mask',{link:'works-single.html',path:'./images/common/p-work-pc2.jpg',alt:"制作実績イメージ1",title:'Comodo',text:'more detail'}) %>
    <%- include('../component/_c-img-mask',{link:'works-single.html',path:'./images/common/p-work-pc1.jpg',alt:"制作実績イメージ1",title:'Comodo',text:'more detail'}) %>
  </div>
  <div class="p-works__btn">
    <%- include('../component/_c-btn',{link:'works-archive.html',text:'more'}) %>
  </div>
</div>