<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body class="l-bg">
    <header class="l-header">
      <%- include('./project/_p-header') %>
    </header>
    <section class="l-hero-sub">
      <%- include('./project/_p-hero-sub',{title:'制作実績'}) %>
    </section>

    <div class="l-bg">
    <section class="l-breadcrumb">
      <%- include('./component/_c-breadcrumb',{level1:'トップページ',level2:'制作実績',level3:'写真コミュニティ「Comodo」様'}) %>
    </section>
    <section class="l-blog-single">
      <%- include('./project/_p-blog-single',{title:'お知らせのタイトルが入ります。長いタイトルの場合はこのようなレイアウトになります'}) %>
    </section>

    <footer class="l-footer l-footer__inner">
      <%- include('./project/_p-footer',{copyright:'Copyright: 合同会社 CodeUps'}) %>
    </footer>
  </div>
  </body>
</html>