<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
	<body>
		<header class="l-header">
			<%- include('./project/_p-header') %>
		</header>    
    
        <section class="l-hero-sub">
            <%- include('./project/_p-hero-sub',{title:'お問い合わせ'}) %>
        </section>
      
        <div class="l-bg">
        <div class="l-contact">
            <%- include('./project/_p-contact') %>
        </div>

        <footer class="l-footer">
            <%- include('./project/_p-footer') %>
        </footer>
        </div>

    </body>
</html>
