<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body class="l-maxinner">
    <section class="p-hero">
      <%- include('./project/_p-hero') %>
    </section>
    <section class="p-overview c-halfview">
      <%- include('./project/_p-overview') %>
    </section>
    <section class="p-upsdelight c-halfview">
      <%- include('./project/_p-upsdelight') %>
    </section>

    <section class="p-single-portforio__halfborder">
      <%- include('./component/_c-halfborder',{title:'クライアント',name:'Codeups様'}) %>
    </section>
  </body>
</html>