<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body class="l-maxinner">
      
      <%- include('./common/_blog') %>
      <%- include('./project/_p-card') %>

      <%- include('./component/_c-btn',{text:'MORE', link:'#'}) %>

      <!-- <% for (var i=0; i < 4; i++) { %>
        <%- include('./component/_c-btn',{text:'MORE', link:'#'}) %>
        <% } %> -->
        
  </body>
</html>
