<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body class="l-bg">
    <header class="l-header">
      <%- include('./project/_p-header') %>
    </header>
    <section class="l-hero-sub">
      <%- include('./project/_p-hero-sub',{title:'制作実績'}) %>
    </section>

    <div class="l-bg__point">
    <section class="l-works-single">
      <%- include('./project/_p-works-single',{title:'写真コミュニティ「Comodo」様',link:'#',subtitle:'https://comodo-community.jp/'}) %>
    </section>
    
    <footer class="l-footer l-footer__inner">
      <%- include('./project/_p-footer',{copyright:'Copyright: 合同会社 CodeUps'}) %>
    </footer>
    </div>

  </body>
</html>