<div class="c-info">
  <div class="c-info__block">
    <p class="c-info__left"><%= left %></p>
    <div class="c-info__center">
      <p class="c-info__center-left"><%= date %></p>
      <p class="c-info__center-right"><%= center %></p>
    </div>
    <div class="c-info__right">
      <a href="<%= link %>"><%= right %></a>
    </div>
  </div>
</div>