<div class="p-info l-maxinner">
  <div class="p-info__block">
    <p class="p-info__l"><%= text__l %></p>
    <p class="p-info__c"><%= date %><span><%= text__c %></span></p>
    <a href="<%= link %>" class="p-info__r"><%= text__r %></a>
  </div>
</div>