<div class="c-info">
  <div class="c-info__block">
    <p class="c-info__left"><%= left %></p>
    <p class="c-info__center-left"><%= date %></p>
    <div class="c-info__center-right">
      <p><%= center %></p>
    </div>
    <a href="<%= link %>" class="c-info__right"><%= right %></a>
  </div>
</div>