<div class="c-info">
  <div class="c-info__block">
    <p class="c-info__left"><%= left %></p>
    <p class="c-info__center"><%= date %><span><%= center %></span></p>
    <a href="<%= link %>" class="c-info__right"><%= right %></a>
  </div>
</div>